.topbar-wrapper {
  display: flex;
  align-items: center;
  min-height: 50px;
  background: lightgray;
  justify-content: space-between;
  padding: 0 10px;
}

.topbar-wrapper .left-side .left-inner {
  display: flex;
  align-items: center;
}

.topbar-wrapper .left-side .logo img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;  
}

.left-side h3 {
  margin-left: 15px;
}

.right-side .btn-logout {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  outline: 0;
  border: none;
}
.btn-logout:hover {
  background-color: gray;
  color: white;
}
