.sideBar-wrapper {
  background: rgb(238, 238, 238);
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  transition: all 0.5s ease;
}

.sideBar-wrapper .menus ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 10px 10px;
  border-bottom: 1px solid lightgray;
  color: #000;
  font-size: 14px;
}

.sideBar-wrapper ul li a:hover,
.sideBar-wrapper ul li a.active{
    color: #f29622;
    background:white;
    border-right: 5px solid rgb(242, 150, 34);
    font-weight: 500;
}
